<div class="product">
    <div class="product-card">
      <div class="inner-box">
        <section class="img__section">
          <img
            [src]="imageUrl"
            alt="Product image" class="img">
        </section>
        <section class="text__section">
            <h3>Dostępne rozmiary</h3>
            <div class="sizes" >
              <div class="sizes__box" *ngFor="let s of size">
                <span>{{ s }}</span>
              </div>
            </div>
          </section>
      </div>
      
      
    </div>
    <div class="outer-box">
        <h1>{{ name }}</h1>
        <h2>{{ price }} zł</h2>
      </div>
      
    </div>