.navbar {
  width: 100vw;
  max-width: 100%;
  display: grid;
  grid-template-rows: 100px 50px;
  grid-row-gap: 20px;
  align-items: stretch;
  justify-content: center;
  overflow-x: hidden;

  @media(max-width: 768px) {
    grid-template-rows: auto; 
    grid-row-gap: 10px;
  }

  .navbar-header-section {
    position: relative;
    max-height: 100px;
    grid-row: 1/2;
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(50px, auto) 300px minmax(50px, auto);
    grid-column-gap: 50px;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;

    @media(max-width: 768px) {
      grid-template-rows: 75px 50px;
      max-height: 100%;

      .toggle {
        grid-row: 2/3;
        grid-column: 2/3;
      }

      &__sign-in {
        grid-row: 2/3;
        grid-column: 1/2;
      }

      &__logo {
       height: 90px;
       grid-column: 2/3;
       grid-row: 1/2;
       justify-self: center;
      }

      &__shoping-cart {
        grid-row: 2/3;
        grid-column: 3/4;
      }
    }
    
    @media(max-width: 609px) {
      grid-template-columns: minmax(30px, auto) 200px minmax(30px, auto);
      grid-column-gap: 50px;
      grid-column-gap: 15px; 
    }

    &__sign-in {
      cursor: pointer;
      font-size: 14px;
      font-weight: 500;
      position: relative;
      padding: 10px;

      .profile-menu {
          display: none;
          position: absolute;
          width: 150%; 
          top: 20px;
          left: 0; 
          z-index: 1100;
          list-style: none;
          padding: 20px 15px;
          margin-top: 20px;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.178);
          background-color: white;
          border-radius: 0 0 5px 5px;

          &:hover {
              display: block;
          }

         
      }

      &:hover .profile-menu {
          display: block;
      }
    }

    &__logo {
      cursor: pointer;
    
      img {
        padding: 10px;
        height: 80%;
      }

    }

    &__shoping-cart {
      position: relative;
      cursor: pointer;
      margin-right: 25px;
      .item-counter {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px;
        min-width: 25px;
        position: absolute;
        top: -10px;
        right: -20px;
        background-color: white;
        border: 1px solid #1f1f1f;
        border-radius: 50px;
        font-size: 12px;
        font-weight: 500;
      }
    }

   
  }

  .navbar-list {
    box-sizing: border-box;
    max-width: 100%;
    width: 99vw;
    grid-row: 2/3;
    background-color: #F8F8F8;
    align-self: center;

    ul {
      height: 50px;
      padding: 0;
      margin: auto 0;
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
    }

    &__item {
      padding: 5px 25px;

      &-link {
        color: #707070;
        text-transform: uppercase;
      }
    }

    @media(max-width: 768px) {

      ul {
        height: 100%;
        flex-direction: column;
      }

      &__item {
      margin: 15px;

      &-link {
        color: #707070;
        text-transform: uppercase;
      }
    }
    }
  }
}

.active2 {
  font-weight: 500;
  color: #1f1f1f;
}