<!-- <table class="table w-100">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nazwa produktu</th>
      <th scope="col">Kategoria</th>
      <th scope="col">Cena</th>
      <th scope="col">W magazynie</th>
      <th scope="col">Edycja</th>
    </tr>
  </thead>
  <tbody class="w-100">
    <tr *ngFor="let p of products | async; let i = index ">
      <th scope="row">{{i + 1}}</th>
      <td class="title">
        <img [src]="p.photos[0]" class="product-img"> {{p.name}}</td>
      <td >{{p.category | titlecase}}</td>
      <td>{{p.price}}</td>
      <td>{{p.storage}}</td>
      <td><button class="btn btn-primary" type="button" (click)="edit(p.id)">Edytuj</button></td>
    </tr>
  </tbody>
</table>    -->
<section class="products">
    <h1>Produkty</h1>
  <div class="heading-box">
      <div class="heading-box__filtering">
          <div class="form-group d-flex align-items-center">
              <label for="name" class="mr-4">Szukaj</label>
              <input type="text" class="form-control mr-4" placeholder="Wpisz nazwe produku">
            </div>
           <div class="heading-box__filtering__category form-group d-flex align-items-center">
              <label for="category" class="mr-4">Kategoria</label>
              <select class="form-control w-75 mr-4">
                  <option value=""></option>
                  <option value="1">Sukienki</option> 
                  <option value="2">Bluzki</option>
                  <option value="3">Spodnie</option>
                  <option value="4">Kombinezony</option>
                  <option value="5">Dodatki</option>
              </select>
           </div>
           <div class="heading-box__filtering__price form-group d-flex align-items-center">
              <label for="category" class="mr-4">Cena</label>
              <select class="form-control w-75 mr-4">
                  <option value=""></option>
                  <option value="1">Cena rosnąco</option> 
                  <option value="2">Cena malejącą</option>
              </select>
           </div>
      </div>
      <div class="heading-box__new-products">
        <button class="btn btn-primary" type="button" [routerLink]="['/admin/manage-products/add-new']">NOWY PRODUKT</button>
      </div>
  </div>
  <div class="products-list-box">
    <ul>
      <li *ngFor="let p of products | async " class="products-list-box__item">
      
        <div class="products-list-box__item-img">
          <img [src]="p.photos[0]" alt="">
        </div>
          <p class="product-name">{{p.name}}</p>
          <p class="product-category">{{p.category | titlecase}}</p>
          <p class="product-price">{{p.price}} zł</p>
          <p class="product-storage">{{p.storage}} szt.</p>
          <button class="btn btn-sm btn-primary" type="button" (click)="edit(p.id)">EDYTUJ</button>
      </li>
    </ul>
  </div>
 
</section> 