<section class="products">
    <h1>Produkty</h1>
  <div class="heading-box">
      <div class="heading-box__filtering">
          <div class="heading-box__filtering__search form-group d-flex align-items-center">
              <label for="name" class="mr-4">Szukaj</label>  
              <input #searchBar type="text" class="form-control mr-4" placeholder="Wpisz nazwe produku" (change)="filterProductByName(searchBar.value)" (keydown.backspace)="reset()">
            </div>  
           <div class="heading-box__filtering__category form-group d-flex align-items-center">
              <label for="category" class="mr-4">Kategoria</label>
              <select #selectedCategory class="form-control w-75 mr-4" (change)="filterProductByCategory(selectedCategory.value)">
                  <option value="0"></option>
                  <option value="sukienki">Sukienki</option> 
                  <option value="bluzki">Bluzki</option>
                  <option value="spodnie">Spodnie</option>
                  <option value="kombinezony">Kombinezony</option>
                  <option value="dodatki">Dodatki</option>
              </select>
           </div>
           <div class="heading-box__filtering__price form-group d-flex align-items-center">
              <label for="category" class="mr-4">Cena</label>
              <select #selectedPriceFilter class="form-control w-75 mr-4" (change)="filterProductByPrice(selectedPriceFilter.value)">
                  <option value=""></option>
                  <option value="1">Cena rosnąco</option>  
                  <option value="2">Cena malejącą</option>
              </select> 
           </div>
      </div>
      <div class="heading-box__new-products">
        <button class="btnn add-new-btn" type="button" [routerLink]="['/admin/manage-products/add-new']">
          Nowy produkt
       <img class="btn-icon" src="../../../assets/admin-nav-icons/plus.svg" alt="">
     </button>
      </div>
  </div>
  <div class="products-list-box"> 
    <ul> 
      <ng-container *ngFor="let p of productList"> 
      <li *ngIf="p.isVisible" class="products-list-box__item">
            <div class="products-list-box__item-img">
                <img [src]="p.photos[0]" alt="">
              </div>
                <p class="product-name">{{p.name}}</p>
                <p class="product-category">{{p.category | titlecase}}</p>
                <p class="product-price">{{p.price}} zł</p>
                <p class="product-storage">{{p.storage}} szt.</p>
                <button class="btnn edit-btn" type="button" (click)="edit(p.id)">Edytuj 
                    <img class="btn-icon" src="../../../assets/admin-nav-icons/pencil-edit-button.svg" alt="">
                </button> 
      </li>
    </ng-container>
    </ul>
  </div>
 
</section> 