.nav-item {
    margin: 0 15px;
}

.contact {
    position: absolute;
    right: 15px;
}

@media (max-width: 992px) {
    .collapse.navbar-collapse {
        justify-content: flex-start !important;
    }
    .contact {
        position: relative;
        right: unset;
    }
}