.nav-item {
    margin: 0 15px;
}

.panel {
    position: absolute;
    right: 50px;
}

@media (max-width: 992px) {
    .collapse.navbar-collapse {
        justify-content: flex-start !important;
    }
    .contact {
        position: relative;
        right: unset;
    }
}

.nav-link {
    transform-origin: right center;
}