.container-fluid {
    height: 500px;
    overflow: hidden;
    padding: 0;
    background: url('https://images.pexels.com/photos/291762/pexels-photo-291762.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=1280&w=1920')
                 no-repeat center center/cover;
}