<form #f="ngForm" (ngSubmit)="save(f.value)" class="container w-50">
  <div class="p-3 rounded shadow"> 
    <h3 class="mb-4 text-center">Informacje o produkcie</h3>
        <div class="form-group">
          <label for="name">Nazwa</label>
          <input #name="ngModel" ngModel name="name" type="text" class="form-control" id="t" placeholder="Nazwa produktu" required>
          <div class="alert alert-danger mt-1" role="alert" *ngIf="name.touched && name.invalid">
            Nazwa produktu jest wymagana
          </div>
        </div>
        <div class="form-group">
          <label for="description">Opis</label>
          <textarea #description="ngModel" name="description" ngModel type="text" class="form-control" id="productDescription" placeholder="Opis produktu" required></textarea>
          <div class="alert alert-danger mt-1" role="alert" *ngIf="description.touched && description.invalid">
              Opis produktu jest wymagany
          </div>
        </div>
        <div class="form-group"> 
          <label for="price">Cena</label>
          <input type="number" #price="ngModel" ngModel name="price" class="form-control" id="productPrice" placeholder="Cena" required>
          <div class="alert alert-danger mt-1" role="alert" *ngIf="price.touched && price.invalid">
              Cena produktu jest wymagana
          </div>
        </div>
        <div class="form-group">
          <label for="category">Kategoria</label>
          <select #category="ngModel" ngModel name="category" class="form-control" id="exampleCheck1" required >
            <option *ngFor="let category of categories" [value]="category">{{ category | titlecase  }}</option>
          </select>
          <div class="alert alert-danger mt-1" role="alert" *ngIf="category.touched && category.invalid">
              Kategoria produktu jest wymagana
          </div>
        </div>
        <div class="form-group">
            <label for="prductImg">Zdjęcie</label>
            <input #photo="ngModel" ngModel name="photo" type="text" class="form-control" id="photo" placeholder="Adres url zdjęcia" required>
            <div class="alert alert-danger mt-1" role="alert" *ngIf="photo.touched && photo.invalid">
                Zdjęcie jest wymagane
            </div>
        </div>
        <div class="d-flex justify-content-between mt-5">
            <button class="btn btn-warning" type="button" (click)="reset(f)">Zresetuj formularz</button>
            <button type="submit" class="btn btn-primary" [disabled]="f.invalid" (click)="createNew(f.value)">Zapisz</button>
        </div>
  </div>
</form> 