<!-- <form [formGroup]="form" class="container d-flex">
  <div class="p-3 rounded shadow-sm col-8"> 
    <h3 class="mb-4 text-center">Informacje o produkcie</h3>
        <div class="form-group">
          <label for="name">Nazwa</label> 
          <input formControlName="name" type="text" class="form-control" placeholder="Nazwa produktu" value="">
          <div class="alert alert-danger mt-1" role="alert" *ngIf="name.touched && name.invalid">
            Nazwa produktu jest wymagana 
          </div>
        </div> 
        <div class="form-group">
          <label for="description">Opis</label>
          <textarea formControlName="description" type="text" class="form-control" id="productDescription" placeholder="Opis produktu"></textarea>
          <div class="alert alert-danger mt-1" role="alert" *ngIf="description.touched && description.invalid">
              Opis produktu jest wymagany
          </div>
        </div>
        <div class="form-group"> 
          <label for="price">Cena</label>
          <input type="number" formControlName="price" class="form-control" id="productPrice" placeholder="Cena">
          <div class="alert alert-danger mt-1" role="alert" *ngIf="price.touched && price.invalid">
              Cena produktu jest wymagana
          </div>
        </div>
        <div class="form-group">
          <label for="category">Kategoria</label>
          <select formControlName="category" class="form-control" id="exampleCheck1" >
            <option *ngFor="let category of categories" [value]="category">{{ category | titlecase  }}</option>
          </select>
          <div class="alert alert-danger mt-1" role="alert" *ngIf="category.touched && category.invalid">
              Kategoria produktu jest wymagana
          </div>
        </div>
        <div class="form-group">
          <label for="prductImg">Zdjęcie</label>
          <input formControlName="photo" type="text" class="form-control" id="prductImg" placeholder="Adres url zdjęcia" >
          <div class="alert alert-danger mt-1" role="alert" *ngIf="photo?.touched && photo?.invalid">
              Zdjęcie jest wymagane
          </div>
      </div>
        <div class="d-flex justify-content-between mt-5">
            <button class="btn btn-warning" type="button" (click)="reset(form)">Zresetuj formularz</button>
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid" (click)="createNew(form.value)">Zapisz</button>
        </div>
  </div>
  <div class="p-3 rounded shadow-sm col-4"> 
      <h3 class="mb-4 text-center">Dostępne rozmiary</h3>
          <div class="form-group">
            <label for="size">Dostępne rozmiary</label>
            <input formArrayName="size" type="text" #sizeV class="form-control" placeholder="Rozmiar produktu" >
            <div class="alert alert-danger mt-1" role="alert" *ngIf="size.touched && size.invalid">
              Musisz dodać minimu jeden rozmiar
            </div>
          </div>
          <button class="btn btn-primary mb-3" type="button" (click)="addSize(sizeV)">Dodaj</button>
          <div class="border rounded p-2">
              <small class="form-text text-muted mb-2">Lista rozmiarów</small>
              <span  class="badge badge-success" *ngFor="let s of size.controls">{{ s.value }}</span>
          </div>
    </div>
</form>  
 -->

<div class="row">
  <div class="col">
    <form [formGroup]="form">
      <div class="form-group">
        <label for="name">Nazwa</label>
        <input formControlName="name" type="text" class="form-control" placeholder="Nazwa produktu">
      </div>
      <div class="form-group">
        <label for="description">Opis</label>
        <textarea formControlName="description" type="text" class="form-control" id="productDescription"
          placeholder="Opis produktu" rows="4"></textarea>
      </div>
      <div class="form-group">
        <label for="name">Cena</label>
        <input formControlName="price" type="number" class="form-control" placeholder="Cena produktu">
      </div>
      <div class="form-group">
        <label for="category">Kategoria</label>
        <select formControlName="category" class="form-control" id="exampleCheck1">
          <option *ngFor="let category of categories" [value]="category">{{ category | titlecase  }}</option>
        </select>
      </div>
      <div class="form-group">
          <label for="storage">Ilość w magazynie</label>
          <input formControlName="price" type="number" class="form-control" placeholder="Ilośc towaru w magazynie">
        </div>
      <div class="form-group">
        <label for="size">Dostępne rozmiary</label>
        <input #size type="text" class="form-control" placeholder="Rozmiar produktu">
      </div>
      <button class="btn btn-primary mb-3" type="button" (click)="newSize(size)">Dodaj</button>
      <ul class="list-group list-group-flush" *ngFor="let s of form.get('size').controls; let i = index">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{s.value}}
          <button type="button" class="close" aria-label="Close" (click)="removeSize(i)">
            <span aria-hidden="true">&times;</span>
          </button>
        </li>
      </ul>
      <div class="form-group">
          <label for="size">Dodaj zdjęcia</label>
          <input #img type="text" class="form-control" placeholder="Link do zdjęcia">
        </div>
        <button class="btn btn-primary mb-3" type="button" (click)="newImgLink(img)">Dodaj</button>
        <ul class="list-group list-group-flush" *ngFor="let p of form.get('photos').controls; let i = index">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            {{p.value}}
            <button type="button" class="close" aria-label="Close" (click)="removePhoto(i)">
              <span aria-hidden="true">&times;</span>
            </button>
          </li>
        </ul>
        <div class="form-check">
            <input formControlName="promotion" class="form-check-input" type="checkbox" id="promotion">
            <label class="form-check-label" for="promotion">
              Promocja
            </label>
        </div> 
        <div class="form-check">
            <input formControlName="isNew" class="form-check-input" type="checkbox" id="isNew">
            <label class="form-check-label" for="isNew">
              Nowość na sklepie
            </label>
        </div> 
        <button class="btn btn-primary mt-3" type="button" (click)="createProduct()">Dodaj produkt do sklepu</button>
    </form>
  </div>
  <div class="col">
    <pre> 
      {{ form.value | json }}
     </pre>
  </div>
</div>