<div class="container">
  <div class="row my-5">
    <div class="col-7">
      <div class="col-7">
          <div class="img-box">
              <img [src]="product.photos[0]">
            </div>
      </div>
      
    </div>
    <div class="col-5">
      <h2 class="mb-4" > {{product.name}}</h2>
      <p class="mb-4">{{product.description}}</p>
      <p class="avalibe-sizes">Dostęne rozmiary</p>
      <div class="sizes">
        <div class="sizes__box mb-3" *ngFor="let s of product.size" (click)="test(s)" [class.active]="selectedSize === s">
          <span>{{s}}</span>
        </div></div>

        <div class="add-to-cart">
          <div class="btn-section"><button class="btn btn-dark" type="button" [disabled]="!selectedSize" (click)="addToCart()">Dodaj do koszyka</button> </div>
          <div class="price-section">{{product.price | currency:'PLN' }}</div>
        </div>
    
    </div>
  </div>
</div>   