<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{{category | titlecase}}</h1>
    <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
  </div>
  
  <div class="container d-flex flex-wrap justify-content-center "> 
    <ng-container class="d-flex justify-content-start flex-wrap" *ngFor="let item of filteredProduct">
      <app-product-card class="productCard"
      [product]="item">
      </app-product-card>
    </ng-container>
    
 </div>