<div class="container-fluid">
    <div class="row">
        <div class="col-2 mt-3">
            <div class="nav flex-column nav-pills mb-5" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link text-center" id="v-pills-home-tab" data-toggle="pill" [routerLink]="['']" role="tab"
                  aria-controls="v-pills-home" aria-selected="true">Idź do sklepu</a> 
              </div>
          <h3 class="text-center mb-3">Nowy produkt</h3>
          <div class="nav flex-column nav-pills mb-5" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link text-center" id="v-pills-home-tab" data-toggle="pill" [routerLink]="['/admin/manage-products/add-new']" role="tab"
              aria-controls="v-pills-home" aria-selected="true">Dodaj nowy</a> 
          </div>
      
          <h3 class="text-center mb-3">Kategorie</h3>
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link text-center active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
              aria-controls="v-pills-home" aria-selected="true">Wszystkie</a>
            <a class="nav-link text-center" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
              aria-controls="v-pills-home" aria-selected="true">Sukienki</a>
            <a class="nav-link text-center" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
              aria-controls="v-pills-profile" aria-selected="false">Spodnie</a>
            <a class="nav-link text-center" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
              aria-controls="v-pills-messages" aria-selected="false">Bluzki</a>
            <a class="nav-link text-center" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
              aria-controls="v-pills-settings" aria-selected="false">Kombinezony</a>
            <a class="nav-link text-center" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
              aria-controls="v-pills-settings" aria-selected="false">Dodatki</a>
          </div>
        </div>
        <div class="d-flex flex-wrap col-9">
          <div *ngFor="let p of products" class="card m-3" style="max-width: 625px; min-width: 400px;">
            <div class="row no-gutters"> 
              <div class="col-md-4">
                <img
                  [src]="p.photo"
                  class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{p.name}}</h5>
                  <p class="card-text">{{p.description | slice :0:200}}...</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  <button class="btn btn-primary" [routerLink]="['/admin/manage-products/', p.id]"  type="button">Edytuj</button>
                </div>
              </div>
            </div> 
          </div> 
      </div>
</div>
