.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px;

    h1 {
        font-size: 2.2rem;
        text-align: center;
        margin-bottom: 15px;
    }

    h2 {
        font-size: 1.1rem;
        text-align: center;
        margin-bottom: 40px;
    }

    h3 {
        font-size: 1rem;
        text-align: center;
        margin-top: 35px;
    }

    p {
        font-size: .9rem;
        text-align: center;
    }

    form {
        width: 100%;

        input::placeholder {
            font-size: .7rem 
        }

        label {
            font-size: .7rem;
        }
    }
    @media(max-width:450px) {
      
        padding: 30px 20px;
    }
}

.btn-email {
    padding: 5px 70px;
    background-color: #313131;
    margin: 10px 0;
}

.btn-google {
    padding: 5px 70px; 
    background-color: #313131;
}

.login {
    display: flex;
}

.btn-submit {
    padding: 8px 45px;
    background-color: #2699FB;
    margin: 0 auto;
}

.error-message {
    margin-top: -10px;
    text-align: center;
    color: red; 
}