<div class="wrapper">
  <h1>Zaloguj się</h1>
  <h2>Skorzystaj z formularza poniżej by się zalogować</h2>
  <form [formGroup]="form">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input formControlName="email" type="email" class="form-control" placeholder="Wpisz swój adres email...">
    </div>
    <div class="form-group">
      <label for="Password">Hasło</label>
      <input formControlName="password" type="password" class="form-control" placeholder="Wpisz swoje hasło...">
    </div>
    <div class="login">
        <button class="btnn btn-submit" (click)="loginWithGoogleMethod()">Zaloguj z Google</button>
        <button class="btnn btn-submit" (click)="login()">Zaloguj</button>
    </div> 
  </form>
  <h3>Nie masz jeszcze konta?</h3>
  <p>Możesz je założyć przy pomocy linków poniżej</p>
  <button class="btnn btn-email" type="button" [routerLink]="['sign-up']">Email</button>
  <button class="btnn btn-google" type="button" (click)="signUpWithGoogle()">Gogole</button>
</div>
 