.footer {
    padding: 20px;
    margin-top: 50px;
    width: 100vw;
    max-width: 100%;
    background-color: #F8F8F8; 
    text-align: center;

    p {
        margin: 0;
        font-size: 18px;
    }
}