<h5 class="mb-3">Sortowanie produktów</h5>
<ul class="list-group">
  <li class="list-group-item" [class.active]="curruentActive == 1" (click)="asc()">Najtańsze</li>
  <li class="list-group-item" [class.active]="curruentActive == 2" (click)="desc()">Najdroższe</li>
  <div class="form-group my-2">
    <label for="exampleInputEmail1">Cena minimalna</label>
    <input #min1 type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Wpisz kwotę" (change)="min(min1.value)">
  </div>
  <div class="form-group my-2">
    <label for="exampleInputEmail1">Cena maxymalna</label>
    <input #max1 type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Wpisz kwotę" (change)="max(max1.value)">
  </div>
</ul> 