<div class="side-nav">
  <div class="pt-5">
      <div class="nav flex-column nav-pills my-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link text-center" id="v-pills-home-tab" data-toggle="pill" [routerLink]="['manage-products']" role="tab"
            aria-controls="v-pills-home" aria-selected="true">Panel</a> 
        </div> 
      <div class="nav flex-column nav-pills my-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link text-center" id="v-pills-home-tab" data-toggle="pill" [routerLink]="['']" role="tab"
            aria-controls="v-pills-home" aria-selected="true">Idź do sklepu</a> 
        </div>
    <div class="nav flex-column nav-pills mb-5" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link text-center" id="v-pills-home-tab" data-toggle="pill" [routerLink]="['/admin/manage-products/add-new']" role="tab"
        aria-controls="v-pills-home" aria-selected="true">Dodaj nowy</a> 
    </div>
  </div>
   
</div>