<section class="side-nav">
  <div class="side-nav__personal-info-box">
    <div class="side-nav__personal-info-box__content">
      <div class="admin-img-box">
          <img src="../../../assets/admin-nav-icons/avatar.svg" alt="">
      </div>
      <div class="admin-text-box">
        <h2>Sklep e-Horel</h2>
        <h3 *ngIf="user$ | async as user"> {{ user.email }}</h3>
      </div>
    </div>
  </div>
  <nav class="main-nav-box">
    <div class="nav-items-box">
      <ul>
        <li [routerLink]="['/admin']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">
          <div class="nav-items-box__item">
            <div class="nav-items-box__item-img-box">
              <img src="../../../assets/admin-nav-icons/home.svg" alt="">
            </div>
            <a>Strona główna</a>
          </div>
        </li>
        <li [routerLink]="['manage-products']" routerLinkActive="active">
          <div class="nav-items-box__item">
            <div class="nav-items-box__item-img-box">
              <img src="../../../assets/admin-nav-icons/tshirt.svg" alt="">
            </div>
            <a>Produkty</a>
          </div>
        </li>
        <li [routerLink]="['orders']" routerLinkActive="active">
          <div class="nav-items-box__item">
            <div class="nav-items-box__item-img-box">
              <img src="../../../assets/admin-nav-icons/Path 199.svg" alt="">
            </div>
            <a>Zamówienia</a>
          </div>
        </li>
        <li>
            <div class="nav-items-box__item">
              <div class="nav-items-box__item-img-box">
                <img src="../../../assets/admin-nav-icons/settings.svg" alt="">
              </div>
              <a>Ustawienia</a> 
            </div>
          </li>
        <li>
          <div class="nav-items-box__item" (click)="logout()">
            <div class="nav-items-box__item-img-box">
              <img src="../../../assets/admin-nav-icons/sign-out.svg" alt="">
            </div>
            <a>Wyloguj</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</section>