/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}



h1 {
    line-height: 1.5;
    font-weight: 300;
    font-size: 3.1rem;
}

h2 {
    line-height: 1.2;
    font-weight: 400;
    font-size: 2.1rem;
}


.btnn {
    display: flex;
    border-radius: 5px;
    font-size: .8rem;
    font-weight: 500;
    border: none;
    color: white;
    vertical-align: middle; 
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    box-shadow: 0 0 0 30px white inset !important;
}

.section-nav {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: #F6F6F6;
    padding-left: 20px;
    height: 60px;
    display: flex;
    align-items: center;
    border-top: 2px solid  rgba(149, 152, 154, 0.219);
    border-bottom: 2px solid rgba(149, 152, 154, 0.219);
 
    @media(max-width: 1170px) {
        padding-left: 0;
        justify-content: center;
    }
}

.section-title {
    font-size: 18px;
    font-weight: 400;
    color: rgb(179, 179, 179);    
    margin-top: 5px;

    @media(min-width: 1170px) {
        padding-left: 300px;
        justify-content: center;
    }
}

